.close-modal-btn {
  display: block;
  margin-left: auto;
  padding: 5px 9px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color 250ms $timing-function;

  &__icon {
    fill: currentColor;
  }

  &:hover {
    color: $accent-color;
  }
}
