.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--team {
    background-color: $secondary-bg-color;
  }
  /* background-color: green; */
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;

  color: $title-text-color;

  text-align: center;

  @media screen and (min-width: $mobile) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
