html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button, .footer-btn, .modal-btn {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #212121;
  background-color: #2196f3;
  color: #ffffff;
  border-color: transparent;
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .footer-btn:hover, .modal-btn:hover, .button:focus, .footer-btn:focus, .modal-btn:focus {
  background-color: #f5f4fa;
  color: #212121;
  border-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  /* background-color: green; */
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--team {
  background-color: #f5f4fa;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo, .logo--black-accent, .logo--white-accent {
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo, .logo--black-accent, .logo--white-accent {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black-accent {
  color: #212121;
}

.logo--white-accent {
  color: #ffffff;
}

.site-nav__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav__nav-list {
    flex-direction: column;
    height: 155px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: inline-block;
  position: relative;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link.current {
  color: #2196f3;
}

.site-nav__link.current::after {
  position: absolute;
  bottom: -8px;
  content: '';
  display: block;
  background: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__link.current::after {
    bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__mail, .contacts__tel {
  display: inline-flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover, .contacts__mail:focus, .contacts__tel:hover, .contacts__tel:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--mail {
  width: 17px;
  height: 16px;
}

.contacts__icon--phone {
  width: 19px;
  height: 17px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__icon--mail {
    width: 16px;
    height: 14px;
  }
  .contacts__icon--phone {
    width: 15px;
    height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item + .contacts__item {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    font-size: 12px;
    line-height: 1.16;
  }
  .contacts__icon {
    margin-right: 8px;
    fill: currentColor;
  }
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

.page-header--border-bottom {
  border-bottom: 1px solid #ececec;
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__close {
  display: none;
}

.menu-btn--is-open .menu-btn__close {
  display: block;
}

.menu-btn--is-open .menu-btn__menu {
  display: none;
}

.menu-btn:hover, .menu-btn:focus {
  color: #2196f3;
}

.menu-btn__icons {
  fill: currentColor;
}

.menu-container {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container--is-open {
    display: block;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 88px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/bg-img/bg-img-mob-480.jpg);
  background-color: #2f303a;
  background-position: center;
  background-size: 480px 400px;
  /* outline: 1px solid black; */
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    height: 600px;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/bg-img/bg-img-mob-960.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/bg-img/tab-bg-img-768.jpg);
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/bg-img/tab-bg-img-1536.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/bg-img/bg-img-desk-1600.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/bg-img/bg-img-desk-3200.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 769px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.features__item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features__list-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-list__item {
  position: relative;
}

.activity-list__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.activity-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__info {
  padding-top: 30px;
  padding-bottom: 24px;
  background: #ffffff;
}

@media screen and (min-width: 1200px) {
  .team__info {
    padding-bottom: 30px;
  }
}

.networks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:hover, .networks__link:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.networks__icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}

.clients-list__item {
  margin-top: 30px;
  margin-right: 30px;
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients-list__card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 90px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid tomato; */
}

.clients-list__card:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.clients-list__link {
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon {
  display: block;
  fill: currentColor;
}

.clients-list__icon--size-normalize-5 {
  padding: 15px;
}

.clients-list__icon--size-normalize {
  padding: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--dark-bg {
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer__box {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet-box {
    display: flex;
    justify-content: space-around;
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer__tablet-box {
    align-items: baseline;
  }
}

.footer__subscribe-box {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .subscribe-box__form {
    display: flex;
  }
}

.subscribe-box__input {
  display: block;
  max-width: 450px;
  width: 100%;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-box__input:focus {
  outline-color: #2196f3;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid #2196f3;
}

@media screen and (max-width: 1199px) {
  .subscribe-box__input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-box__input {
    margin-right: 12px;
    width: 358px;
  }
}

.footer-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #2196f3;
}

.footer-btn:hover, .footer-btn:focus {
  fill: currentColor;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

.footer-btn__icon {
  fill: currentColor;
}

.footer-btn__label {
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  .contacts-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-box {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-contacts__address {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.networks-box__title, .subscribe-box__title {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.networks-box__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .networks-box__list {
    margin-bottom: 60px;
  }
}

.networks-box__icon {
  fill: #ffffff;
}

.networks-box__item:not(:last-child) {
  margin-right: 10px;
}

.networks-box__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-box__link:hover, .networks-box__link:focus {
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 93px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 208px;
    padding-right: 159px;
    padding-left: 159px;
  }
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 528px;
    width: 100%;
  }
}

.backdrop--hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
}

.modal__tittle {
  display: block;
  margin-top: 0px;
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .modal__tittle {
    font-size: 20px;
    line-height: 1.15;
  }
}

.close-modal-btn {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  padding: 5px 9px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn__icon {
  fill: currentColor;
}

.close-modal-btn:hover {
  color: #2196f3;
}

.form {
  /* outline: 1px solid green; */
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* outline: 1px solid blue; */
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  left: 15px;
  bottom: 10px;
  display: inline-block;
}

.form__field:focus-within > .form__icon {
  fill: #2196f3;
}

.form__input, .form__textarea {
  width: 100%;
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: 1.16;
}

.form__field:focus-within > .form__input, .form__field:focus-within > .form__textarea {
  outline-color: #2196f3;
}

.form__input::placeholder, .form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
}

.form__textarea {
  padding: 12px 16px;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.16;
}

.policy__label {
  margin-left: 8.38px;
}

.policy__checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}

.policy__checkbox:checked + .policy__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../pictures/icons/icon-check.svg);
  background-origin: border-box;
  /* background-size: contain; */
}

.policy__link {
  color: #2196f3;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196f3;
}

.modal-btn:hover, .modal-btn:focus {
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */