html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 2px solid tomato; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button, .filter__button, .footer-btn {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #212121;
  background-color: #f5f4fa;
  border-color: transparent;
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .filter__button:hover, .footer-btn:hover, .button:focus, .filter__button:focus, .footer-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: green; */
}

.section--team {
  background-color: #f5f4fa;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo, .logo--black-accent, .logo--white-accent {
  color: #2196f3;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--black-accent {
  color: #212121;
}

.logo--white-accent {
  color: #ffffff;
}

.site-nav__nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  padding-top: 34.5px;
  padding-bottom: 33.5px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link.current {
  color: #2196f3;
}

.site-nav__link.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  background: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail, .contacts__tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover, .contacts__mail:focus, .contacts__tel:hover, .contacts__tel:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.page-header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.page-header--border-bottom {
  border-bottom: 1px solid #ececec;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__card {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}

.portfolio-list__card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: tomato; */
}

.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link {
  text-decoration: none;
}

.card__thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
}

.card__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-size: 16px;
  line-height: 1.87;
}

.card__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top-color: transparent;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  opacity: 0.9;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .overlay,
.card__link:focus .overlay {
  transform: translatey(0);
}

.overlay__text {
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--dark-bg {
  background-color: #2f303a;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contacts-box {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-contacts__address {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.networks-box__title, .subscribe-box__title {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.networks-box__list {
  display: flex;
}

.networks-box__icon {
  fill: #ffffff;
}

.networks-box__item:not(:last-child) {
  margin-right: 10px;
}

.networks-box__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-box__link:hover, .networks-box__link:focus {
  background-color: #2196f3;
}

.subscribe-box__form {
  display: flex;
}

.subscribe-box__input {
  display: block;
  width: 358px;
  padding: 15px 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-box__input:focus {
  outline-color: #2196f3;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid #2196f3;
}

.footer-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #2196f3;
}

.footer-btn:hover, .footer-btn:focus {
  fill: currentColor;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

.footer-btn__icon {
  fill: currentColor;
}

.footer-btn__label {
  margin-right: 10px;
}

.footer__subscribe-box {
  margin-left: auto;
}
/*# sourceMappingURL=portfolio.css.map */