.contacts {
  &__mail,
  &__tel {
    display: inline-flex;
    align-items: center;
    color: $primary-text-color;

    text-decoration: none;
    font-style: normal;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__item + &__item {
    margin-top: 16px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.66;

    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }

    &__item + &__item {
      margin-top: 10px;
    }

    @media screen and (max-width: $desktop) {
      &__item + &__item {
        margin-top: 10px;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
    &__item + &__item {
      margin-left: 30px;
    }
  }
}

.page-header__contacts {
  @media screen and (min-width: $desktop) {
    @include displayFlex();
  }

  // margin-left: auto;
}
