.contacts {
  &__mail,
  &__tel {
    display: flex;
    align-items: center;
    // padding-top: 32px;
    // padding-bottom: 32px;

    color: $primary-text-color;

    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.66;

    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }

    @media screen and (max-width: $desktop) {
      &__item + &__item {
        margin-top: 10px;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
    &__item + &__item {
      margin-left: 30px;
    }
  }
}

.page-header__contacts {
  @media screen and (min-width: $desktop) {
    @include displayFlex();
  }

  margin-left: auto;
}
