.footer-contacts {
  &__address {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 9px;

    color: $primary-white-color;

    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
