.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &__close {
    display: none;
  }

  &--is-open &__close {
    display: block;
  }

  &--is-open &__menu {
    display: none;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &__icons {
    fill: currentColor;
  }
}

.menu-container {
  background-color: $primary-white-color;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  @media screen and (max-width: $max-tablet) {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &--is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    @include displayFlex();
    flex-grow: 1;
    margin-left: 88px;
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}
