.site-nav {
  &__nav-list {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 155px;
    // margin-bottom: 60px;
    height: 40px;
    width: 50px;
    outline: 1px solid teal;
  }

  @media screen and (min-width: $tablet) {
    &__nav-list {
      display: flex;
      margin-left: 88px;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__nav-list {
      margin-left: 93px;
    }
  }

  &__link {
    display: inline-block;
    position: relative;

    &:not(:first-child) {
      padding-top: 8px;
    }
    &:not(:last-child) {
      padding-bottom: 8px;
    }

    color: $title-text-color;

    text-decoration: none;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &.current {
      color: $accent-color;
    }

    &.current::after {
      position: absolute;
      bottom: 0;
      content: '';
      display: block;

      background: $accent-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;

      transition: opacity 250ms $timing-function;
    }
  }
}
