.subscribe-box {
  &__title {
    @extend .networks-box__title;
  }
  &__form {
    display: flex;
  }
  &__input {
    display: block;
    width: 358px;
    padding: 15px 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: inherit;

    font-size: 16px;
    line-height: 1.25;

    &:focus {
      outline-color: $accent-color;
      background-color: $third-bg-color;
      color: $primary-white-color;
      border: 1px solid $accent-color;
    }
  }
}

.footer-btn {
  @extend .button;

  @include displayFlex($type: inline-flex);
  color: $primary-white-color;
  background-color: $accent-color;

  &:hover,
  &:focus {
    fill: currentColor;
    color: $title-text-color;
    background-color: $secondary-bg-color;
    cursor: pointer;
  }
  &__icon {
    fill: currentColor;
  }
  &__label {
    margin-right: 10px;
  }
}
