.card {
  @media screen and (max-width: $max-tablet) {
    max-width: 450px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  text-decoration: none;
  transition: box-shadow 250ms $timing-function;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  /* background-color: tomato; */

  &__link {
    text-decoration: none;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;
    font-size: 18px;
    line-height: 2;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    color: $title-text-color;
    font-size: 16px;
    line-height: 1.87;
  }

  &__description {
    padding: 20px 24px;

    border: 1px solid #eeeeee;
    border-top-color: transparent;
  }
}
