.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $accent-color;
  opacity: 0.9;

  transform: translatey(100%);
  transition: transform 250ms $timing-function;

  .card__link:hover &,
  .card__link:focus & {
    transform: translatey(0);
  }

  &__text {
    padding: 63px 24px;

    color: $primary-white-color;
    font-size: 18px;
    line-height: 28px;
  }
}
